*{
    background-color: rgb(0, 73, 151);

}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(102, 102, 102, 0.599);
    padding: 250px;
    border-radius: 30px;
    height: 250px;
    width: 200px;
}

.imagen{
    display: flex;
    justify-content: center;
    width: 200px;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: none;
    gap: 20px;
}
.boton1{
    width: 50px;
    border-radius: 100%;
    background: none;
    border: none;
    cursor: pointer;
}
.boton2{
    width: 50px;
    border-radius: 100%;
    background: none;
    border: none;
    cursor: pointer;
}
.imagen-boton1{
    width: 50px;
    background: none;
}
.imagen-boton2{
    width: 50px;
    background: none;
}

.imagen{
    display: flex;
    justify-content: center;
    justify-self: center;
    background: none;
}
img{
    width: 100px;
}

h1{
    background: none;
    color: rgb(255, 238, 0);
}
h2{
    background: none;
    color: rgb(0, 0, 0);
}